@import "gonicon/gonicon-weather.css";

.title{
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.cat-wrapper{
  width: 100%;
  text-align: center;
}

.red{
  background-color: red;
}