@font-face {
  font-family: 'gonicon-arrow-reverse';
  src:  url('gonicon-arrow-reverse-fonts/gonicon-arrow-reverse.eot?p3jcdv');
  src:  url('gonicon-arrow-reverse-fonts/gonicon-arrow-reverse.eot?p3jcdv#iefix') format('embedded-opentype'),
    url('gonicon-arrow-reverse-fonts/gonicon-arrow-reverse.ttf?p3jcdv') format('truetype'),
    url('gonicon-arrow-reverse-fonts/gonicon-arrow-reverse.woff?p3jcdv') format('woff'),
    url('gonicon-arrow-reverse-fonts/gonicon-arrow-reverse.svg?p3jcdv#gonicon-arrow-reverse') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gonicon-arrow-reverse {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gonicon-arrow-reverse' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gonicon-circle-down:before {
  content: "\e900";
}
.gonicon-circle-left:before {
  content: "\e901";
}
.gonicon-circle-left-down:before {
  content: "\e902";
}
.gonicon-circle-left-up:before {
  content: "\e903";
}
.gonicon-circle-right:before {
  content: "\e904";
}
.gonicon-circle-right-down:before {
  content: "\e905";
}
.gonicon-circle-right-up:before {
  content: "\e906";
}
.gonicon-circle-up:before {
  content: "\e907";
}
.gonicon-rectangle-down:before {
  content: "\e908";
}
.gonicon-rectangle-left:before {
  content: "\e909";
}
.gonicon-rectangle-left-down:before {
  content: "\e90a";
}
.gonicon-rectangle-left-up:before {
  content: "\e90b";
}
.gonicon-rectangle-right:before {
  content: "\e90c";
}
.gonicon-rectangle-right-down:before {
  content: "\e90d";
}
.gonicon-rectangle-right-up:before {
  content: "\e90e";
}
.gonicon-rectangle-up:before {
  content: "\e90f";
}
