@font-face {
  font-family: 'gonicon-weather-line';
  src:  url('gonicon-weather-line-fonts/gonicon-weather-line.eot?q6ag8p');
  src:  url('gonicon-weather-line-fonts/gonicon-weather-line.eot?q6ag8p#iefix') format('embedded-opentype'),
    url('gonicon-weather-line-fonts/gonicon-weather-line.ttf?q6ag8p') format('truetype'),
    url('gonicon-weather-line-fonts/gonicon-weather-line.woff?q6ag8p') format('woff'),
    url('gonicon-weather-line-fonts/gonicon-weather-line.svg?q6ag8p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gonicon-weather-line {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gonicon-weather-line' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gonicon-weather-line.gonicon-cloud:before {
  content: "\e900";
}
.gonicon-weather-line.gonicon-cloud_wind:before {
  content: "\e901";
}
.gonicon-weather-line.gonicon-cloud_wind_lightning:before {
  content: "\e902";
}
.gonicon-weather-line.gonicon-cumulus_cloud:before {
  content: "\e903";
}
.gonicon-weather-line.gonicon-dark_cloud_lightning:before {
  content: "\e904";
}
.gonicon-weather-line.gonicon-fog:before {
  content: "\e905";
}
.gonicon-weather-line.gonicon-fog_cloud:before {
  content: "\e906";
}
.gonicon-weather-line.gonicon-fog_lightning:before {
  content: "\e907";
}
.gonicon-weather-line.gonicon-hail:before {
  content: "\e908";
}
.gonicon-weather-line.gonicon-hail_lightning:before {
  content: "\e909";
}
.gonicon-weather-line.gonicon-hail_snow:before {
  content: "\e90a";
}
.gonicon-weather-line.gonicon-heavy_cloud:before {
  content: "\e90b";
}
.gonicon-weather-line.gonicon-heavy_cloud_wind:before {
  content: "\e90c";
}
.gonicon-weather-line.gonicon-heavy_cloud_wind_lightning:before {
  content: "\e90d";
}
.gonicon-weather-line.gonicon-heavy_hail:before {
  content: "\e90e";
}
.gonicon-weather-line.gonicon-heavy_rainy_lightning:before {
  content: "\e90f";
}
.gonicon-weather-line.gonicon-heavy_rainy_season:before {
  content: "\e910";
}
.gonicon-weather-line.gonicon-heavy_snow:before {
  content: "\e911";
}
.gonicon-weather-line.gonicon-lightning_hail:before {
  content: "\e912";
}
.gonicon-weather-line.gonicon-lightning_rainy:before {
  content: "\e913";
}
.gonicon-weather-line.gonicon-lightning_snow:before {
  content: "\e914";
}
.gonicon-weather-line.gonicon-rainy:before {
  content: "\e915";
}
.gonicon-weather-line.gonicon-rainy_cloud:before {
  content: "\e916";
}
.gonicon-weather-line.gonicon-rainy_lightning:before {
  content: "\e917";
}
.gonicon-weather-line.gonicon-rainy_season:before {
  content: "\e918";
}
.gonicon-weather-line.gonicon-rainy_snow:before {
  content: "\e919";
}
.gonicon-weather-line.gonicon-shower:before {
  content: "\e91a";
}
.gonicon-weather-line.gonicon-snow:before {
  content: "\e91b";
}
.gonicon-weather-line.gonicon-snow_cloud:before {
  content: "\e91c";
}
.gonicon-weather-line.gonicon-snow_lightning:before {
  content: "\e91d";
}
.gonicon-weather-line.gonicon-sun:before {
  content: "\e91e";
}
.gonicon-weather-line.gonicon-sun_cloud:before {
  content: "\e91f";
}
.gonicon-weather-line.gonicon-sun_fog_cloud:before {
  content: "\e920";
}
.gonicon-weather-line.gonicon-sun_lightning_cloud:before {
  content: "\e921";
}
.gonicon-weather-line.gonicon-sunny:before {
  content: "\e922";
}
.gonicon-weather-line.gonicon-sunny_cloud:before {
  content: "\e923";
}
.gonicon-weather-line.gonicon-sunny_wind_lightning1:before {
  content: "\e924";
}
.gonicon-weather-line.gonicon-sunny_wind_lightning2:before {
  content: "\e925";
}
.gonicon-weather-line.gonicon-sunshine:before {
  content: "\e926";
}
.gonicon-weather-line.gonicon-sunshine_cloud:before {
  content: "\e927";
}
.gonicon-weather-line.gonicon-typhoon:before {
  content: "\e928";
}
.gonicon-weather-line.gonicon-typhoon_fog:before {
  content: "\e929";
}
.gonicon-weather-line.gonicon-typhoon_hail:before {
  content: "\e92a";
}
.gonicon-weather-line.gonicon-typhoon_rainy:before {
  content: "\e92b";
}
.gonicon-weather-line.gonicon-wind:before {
  content: "\e92c";
}
.gonicon-weather-line.gonicon-wind_lightning:before {
  content: "\e92d";
}
